* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000; /* Set all text to black */
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #000; /* Background color set to black */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
}

.card {
    position: relative;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 56px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
    0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    transform: scale(1.2);
}

p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 80px;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.4s;
}

.social-icon:hover {
    opacity: 0.8;
}

.social-icon i {
    color: #fff; /* Keep icons white for contrast */
    font-size: 1.4em;
}

/* Social media colors */
.github {
    background-color: #24292e;
} 

.twitter {
    background-color: #1da1f2;
}

.instagram{
    background-color: #d3263a;
}
